page-home {
    #diferente{
        color:yellow !important;       

    }
    .color{
        color:#66030E !important;
    }

    ion-card{
        background: none !important
    }
    ion-item{
        background: none !important
    }
}
