page-perper {
    .ayuda{
        position: relative;
        z-index: 5;
        background: rgba(120,45,170,0.8);
        top:-100px;
        font-weight:bold;
        text-align:center;
        width:300px;
        font-size:20px;

    }
    .ayuda1{
        position: relative;
        z-index: 5;
        background: rgba(120,45,170,0.8);
        top:-200px;
        font-weight:bold;
        text-align:center;
        width:300px;
        font-size:20px;

    }

}
